# 유가증권시장, 코스닥시장에 한해서 최근 10년간 공시 당일 일봉부터 일주일 후 까지 보고서 카테고리로 분류

In [1]:
import pandas as pd

In [2]:
공시 = pd.read_csv('사용디비.csv',encoding = 'euc-kr')
공시.head()

C:\Users\jeffr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (23,52,55,56,57,60,64,66,69,70,71,75,92,94,95,96,112,113) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,보고서키,날짜,구분,CategorySeq,보고서명,기재정정여부,자율공시여부,종목키,종목명,...,주권비율.1,주권직전수.1,주권직전비율.1,주권증가수.1,주권증가비율.1,의결권수,의결권직전수,의결권증감수,변동사유,변경사유
0,0,20201118900408,2020-11-18 18:39:00,코스닥시장,I001502,최대주주변경을수반하는주식담보제공계약체결,0,0,1144569,명성티엔에스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201118900379,2020-11-18 17:55:00,코스닥시장,I001165,불성실공시법인지정예고(공시변경),0,0,359474,제이웨이,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201118900378,2020-11-18 18:01:00,코스닥시장,I001165,불성실공시법인지정예고(공시번복),0,0,608839,에이루트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201118900371,2020-11-18 18:03:00,코스닥시장,B002222,전환가액의조정(제4회차),0,0,493431,자안,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201118900369,2020-11-18 18:00:00,코스닥시장,B002002,감사보고서제출,0,0,1338724,SNK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#pandas.query를 이용하여 데이터프레임 분류해주기
#pandas.query로는 데이터프레임 내의 텍스트 데이터만 검색가능 
#코스닥시장과 유가증권시장만을 분류 
data = 공시.query('구분.str.contains("코스닥시장") or 구분.str.contains("유가증권")',engine = 'python')
data.head()

,Unnamed: 0,보고서키,날짜,구분,CategorySeq,보고서명,기재정정여부,자율공시여부,종목키,종목명,...,주권비율.1,주권직전수.1,주권직전비율.1,주권증가수.1,주권증가비율.1,의결권수,의결권직전수,의결권증감수,변동사유,변경사유
0,0,20201118900408,2020-11-18 18:39:00,코스닥시장,I001502,최대주주변경을수반하는주식담보제공계약체결,0,0,1144569,명성티엔에스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20201118900379,2020-11-18 17:55:00,코스닥시장,I001165,불성실공시법인지정예고(공시변경),0,0,359474,제이웨이,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20201118900378,2020-11-18 18:01:00,코스닥시장,I001165,불성실공시법인지정예고(공시번복),0,0,608839,에이루트,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,20201118900371,2020-11-18 18:03:00,코스닥시장,B002222,전환가액의조정(제4회차),0,0,493431,자안,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,20201118900369,2020-11-18 18:00:00,코스닥시장,B002002,감사보고서제출,0,0,1338724,SNK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#컬럼 확인용
#for each in data.columns:
#   print(each)

### 컬럼 내용정리

In [5]:
#구분은 시장에 따라 ex 코스닥,유가증권시장 
#CategorySeq는 공시 카테고리에 대한 분류
#보고서명에 공시에 대한 제목 
#내용에는 공시 내용

In [6]:
#에러가 발생하여 데이터를 복사해준후 컬럼이름을 수정
#컬럼이름을 앞에 붙인 이유는 filter 를 편하게 하기 위해서 
data2 = data.copy()
data2.rename(columns ={'날짜':'일_날짜', 'CategorySeq':'일_카테고리', '종목명':'일_종목명', '종목코드':'일_종목코드'},inplace = True)

In [7]:
data2 = data2.filter(regex = '^일')
data2.head()

,일_날짜,일_카테고리,일_종목명,일_종목코드,일봉날짜,일봉시가,일봉고가,일봉저가,일봉종가,일봉거래량,일봉거래대금,일봉주가등락률,일주후날짜,일주후시가,일주후종가,일주후거래량,일주후거래대금,일주후주가등락률
0,2020-11-18 18:39:00,I001502,명성티엔에스,257370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-11-18 17:55:00,I001165,제이웨이,58420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-11-18 18:01:00,I001165,에이루트,96690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-11-18 18:03:00,B002222,자안,221610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-11-18 18:00:00,B002002,SNK,950180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#r결측값이 있는 행들을 제거 
data2 = data2.dropna()
data2.head()

,일_날짜,일_카테고리,일_종목명,일_종목코드,일봉날짜,일봉시가,일봉고가,일봉저가,일봉종가,일봉거래량,일봉거래대금,일봉주가등락률,일주후날짜,일주후시가,일주후종가,일주후거래량,일주후거래대금,일주후주가등락률
4695,2020-11-06 14:54:00,I002005,인터로조,119610,2020-11-06,21200.0,21250.0,20500.0,20500.0,29977.0,624376.0,-0.033019,2020-11-13,21200.0,21450.0,21696.0,462562.0,0.000000
4698,2020-11-06 14:51:00,B002205,지티지웰니스,219750,2020-11-06,5100.0,5140.0,4950.0,5050.0,268145.0,1345435.0,-0.009804,2020-11-13,4940.0,5000.0,212475.0,1040144.0,-0.031373
4699,2020-11-06 14:39:00,I001083,압타머사이언스,291650,2020-11-06,32050.0,37750.0,28850.0,31500.0,16865644.0,553468672.0,-0.017161,2020-11-13,25500.0,24650.0,897382.0,22270714.0,-0.204368
4700,2020-11-06 14:28:00,I001104,서희건설,35890,2020-11-06,1160.0,1160.0,1145.0,1145.0,772919.0,889091.0,-0.012931,2020-11-13,1185.0,1205.0,1607566.0,1925957.0,0.021552
4701,2020-11-06 14:08:00,I001384,피엔케이피부임상연구센타,347740,2020-11-06,26700.0,28450.0,25300.0,26200.0,561884.0,14939021.0,-0.018727,2020-11-13,24400.0,23750.0,91413.0,2166477.0,-0.086142

In [9]:
#중복되지 않은 카테고리 확인을 위해
#data2['일_카테고리'].unique()

In [10]:
#날짜별로 정렬해주기 위해서 
#groupby 이용시 적용해줄 함수 설정 
def top(df):
    return df.sort_values(by='일봉날짜')

#카테고리별로 묶어준 데이터 날짜 순으로 정리.
data2 = data2.groupby('일_카테고리').apply(top)
data2.head()

                      일_날짜 일_카테고리   일_종목명  일_종목코드        일봉날짜     일봉시가  \
일_카테고리
A001   1549996  1999-03-24   A001     광전자   17900  1999-03-24   6350.0
       1549994  1999-03-25   A001      국보    1140  1999-03-25   7800.0
       1549993  1999-03-25   A001    대영포장   14160  1999-03-25   9900.0
       1549992  1999-03-25   A001   아세아제지    2310  1999-03-25  10550.0
       1549991  1999-03-25   A001  예스코홀딩스   15360  1999-03-25  24900.0

                   일봉고가     일봉저가     일봉종가     일봉거래량     일봉거래대금   일봉주가등락률  \
일_카테고리
A001   1549996   6800.0   6300.0   6700.0  613510.0  4057000.0  0.055118
       1549994   8000.0   7620.0   7800.0   10080.0    78795.0  0.000000
       1549993  10073.0   9040.0   9040.0  454110.0  5044582.0 -0.086869
       1549992  11200.0  10500.0  10800.0   75860.0   817000.0  0.023697
       1549991  25600.0  24900.0  25400.0    6900.0   174000.0  0.020080

                     일주후날짜    일주후시가    일주후종가    일주후거래량    일주후거래대금  일주후주가등락률
일_카테고리
A001   1549996  1999-03-31   6470.0   6360.0  133360.0   852000.0  0.018898
       1549994  1999-04-01   8050.0   7960.0   13830.0   109626.0  0.032051
       1549993  1999-04-01   9126.0   9126.0  270650.0  2842055.0 -0.078182
       1549992  1999-04-01  12150.0  12000.0  166510.0  1975000.0  0.151659
       1549991  1999-04-01  24500.0  24800.0    4010.0    99000.0 -0.016064

In [11]:
data2['일봉날짜']

일_카테고리
A001     1549996    1999-03-24
         1549994    1999-03-25
         1549993    1999-03-25
         1549992    1999-03-25
         1549991    1999-03-25
                       ...
J006002  1435705    2009-11-11
         1347428    2014-08-25
         1376668    2014-08-25
         1284412    2015-04-24
         1204404    2015-04-24
Name: 일봉날짜, Length: 1522810, dtype: object

In [12]:
#날짜 데이터들을 object에서 데이터 형식으로 변경 
data2['일_날짜'] = pd.to_datetime(data2['일_날짜'], format='%Y-%m-%d %H:%M:%S')
data2['일_날짜']

일_카테고리
A001     1549996   1999-03-24 00:00:00
         1549994   1999-03-25 00:00:00
         1549993   1999-03-25 00:00:00
         1549992   1999-03-25 00:00:00
         1549991   1999-03-25 00:00:00
                           ...
J006002  1435705   2003-03-24 15:20:00
         1347428   2004-08-19 11:28:00
         1376668   2004-03-17 09:48:00
         1284412   2005-09-13 13:43:00
         1204404   2007-01-16 09:23:00
Name: 일_날짜, Length: 1522810, dtype: datetime64[ns]

In [13]:
#날짜 데이터들을 object에서 데이터 형식으로 변경 
data2['일봉날짜'] = pd.to_datetime(data2['일봉날짜'], format='%Y-%m-%d')
data2['일봉날짜']

일_카테고리
A001     1549996   1999-03-24
         1549994   1999-03-25
         1549993   1999-03-25
         1549992   1999-03-25
         1549991   1999-03-25
                      ...
J006002  1435705   2009-11-11
         1347428   2014-08-25
         1376668   2014-08-25
         1284412   2015-04-24
         1204404   2015-04-24
Name: 일봉날짜, Length: 1522810, dtype: datetime64[ns]

In [14]:
#데이터양을 조금 줄여주기 위해서 2000년부터의 데이터만 
filter_data = data2.loc[(data2['일봉날짜'] > '2000-01-01')] 
filter_data.head()

                     일_날짜 일_카테고리  일_종목명  일_종목코드       일봉날짜     일봉시가     일봉고가  \
일_카테고리
A001   1548827 1999-12-30   A001   선창산업    2820 2000-01-04  11000.0  12500.0
       1548832 1999-12-29   A001   미원상사    2840 2000-01-04  13500.0  14950.0
       1548831 1999-12-29   A001  사조동아원    8040 2000-01-04   1700.0   1840.0
       1548830 1999-12-29   A001   미원상사    2840 2000-01-04  13500.0  14950.0
       1548829 1999-12-29   A001   이건산업    8250 2000-01-04   5800.0   6370.0

                   일봉저가     일봉종가    일봉거래량   일봉거래대금   일봉주가등락률       일주후날짜  \
일_카테고리
A001   1548827  11000.0  12350.0   4020.0  47228.0  0.122727  2000-01-06
       1548832  13500.0  14950.0   1310.0  18350.0  0.107407  2000-01-05
       1548831   1700.0   1840.0  20260.0  37000.0  0.082353  2000-01-05
       1548830  13500.0  14950.0   1310.0  18350.0  0.107407  2000-01-05
       1548829   5760.0   6260.0  14940.0  91000.0  0.079310  2000-01-05

                  일주후시가    일주후종가   일주후거래량   일주후거래대금  일주후주가등락률
일_카테고리
A001   1548827  12000.0  12000.0   1140.0   13482.0  0.090909
       1548832  16000.0  17150.0  20020.0  340093.0  0.185185
       1548831   1730.0   1870.0  44250.0   82000.0  0.017647
       1548830  16000.0  17150.0  20020.0  340093.0  0.185185
       1548829   6200.0   6300.0  40870.0  257000.0  0.068966

## 당일의 등락률 구해주기(공시 발표 당일의 저가와 고가를 이용)

In [15]:
당일_등락률 = filter_data.copy()
당일_등락률['당일 등락률'] = (filter_data['일봉고가'] - filter_data['일봉저가'])/filter_data['일봉저가']
당일_등락률 = 당일_등락률.filter(like  = '등락률',axis= 1)
당일_등락률.head()

                 일봉주가등락률  일주후주가등락률    당일 등락률
일_카테고리
A001   1548827  0.122727  0.090909  0.136364
       1548832  0.107407  0.185185  0.107407
       1548831  0.082353  0.017647  0.082353
       1548830  0.107407  0.185185  0.107407
       1548829  0.079310  0.068966  0.105903

# 공시발표 당일의 시가와 종가를 비교

In [16]:
당일_등락률 = filter_data.copy()
당일_등락률['당일 등락률'] = (filter_data['일봉종가'] - filter_data['일봉시가'])/filter_data['일봉시가']
당일_등락률 = 당일_등락률.filter(like  = '등락률',axis= 1)
당일_등락률.head()

                 일봉주가등락률  일주후주가등락률    당일 등락률
일_카테고리
A001   1548827  0.122727  0.090909  0.122727
       1548832  0.107407  0.185185  0.107407
       1548831  0.082353  0.017647  0.082353
       1548830  0.107407  0.185185  0.107407
       1548829  0.079310  0.068966  0.079310

# 일주일 후의 등락률 최댓값(공시날의 저가와 일주일 후의 고가를 이용하여)

In [17]:
일주후_등락률 = filter_data.copy()
일주후_등락률['일주후 등락률(저)'] = (filter_data['일주후종가'] - filter_data['일봉저가'])/filter_data['일봉저가']
일주후_등락률 = 일주후_등락률.filter(like  = '등락률',axis= 1)
일주후_등락률.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(저)
일_카테고리
A001   1548827  0.122727  0.090909    0.090909
       1548832  0.107407  0.185185    0.270370
       1548831  0.082353  0.017647    0.100000
       1548830  0.107407  0.185185    0.270370
       1548829  0.079310  0.068966    0.093750

## 공시 당일날 종가 일주후 종가 비교

In [18]:
일주후_등락률_종 = filter_data.copy()
일주후_등락률_종['일주후 등락률(종)'] = (filter_data['일주후종가'] - filter_data['일봉종가'])/filter_data['일봉종가']
일주후_등락률_종 = 일주후_등락률_종.filter(like  = '등락률',axis= 1)
일주후_등락률_종.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(종)
일_카테고리
A001   1548827  0.122727  0.090909   -0.028340
       1548832  0.107407  0.185185    0.147157
       1548831  0.082353  0.017647    0.016304
       1548830  0.107407  0.185185    0.147157
       1548829  0.079310  0.068966    0.006390

# 공시당일날 시가 일주일 후 종가 비교

In [19]:
일주후_등락률_종 = filter_data.copy()
일주후_등락률_종['일주후 등락률(시)'] = (filter_data['일주후종가'] - filter_data['일봉시가'])/filter_data['일봉시가']
일주후_등락률_종 = 일주후_등락률_종.filter(like  = '등락률',axis= 1)
일주후_등락률_종.head()

                 일봉주가등락률  일주후주가등락률  일주후 등락률(시)
일_카테고리
A001   1548827  0.122727  0.090909    0.090909
       1548832  0.107407  0.185185    0.270370
       1548831  0.082353  0.017647    0.100000
       1548830  0.107407  0.185185    0.270370
       1548829  0.079310  0.068966    0.086207